name: "name of your Home Assistant"

#
# EMail
#
mail_server: "changeme"
mail_port: 587
mail_username: "changeme"
mail_password: "changeme"
mail_sender: "changeme"
mail_recipient_1: "changeme"

#
# Twilio
#
twilio_account_sid: "changeme"
twilio_auth_token: "changeme"
twilio_from_number: "changeme"
twilio_recipient_1: "changeme"

#
# Geolocation
#
time_zone: "changeme"
latitude: 0.0
longitude: 0.0
elevation: 0

#
# Authentication
#
hass_token: "changeme"
